*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-picker{

    width: 30vw;
    padding: 15px;
    text-align: center;
    background-color: azure;
    border-radius: 15px;
    font-size: 25px;
}

#btn{
    color: azure;
    background-color: black;
    font-size: 1.5rem;
    cursor: pointer;
    font-size: 25px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
}